# Dependencies
node_modules/

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# Build output
dist/
build/

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Temporary files
*.tmp
*.swp